@import "tailwindcss";

@font-face {
    font-family: 'Sentient-Variable';
    src: url('/fonts/Sentient-Variable.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Sentient-VariableItalic';
    src: url('/fonts/Sentient-VariableItalic.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Switzer-Variable';
    src: url('/fonts/Switzer-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Switzer-VariableItalic';
    src: url('/fonts/Switzer-VariableItalic.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}
  
  