.Blockquote {
  font-family: 'Erode-Variable', serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  border: 1px solid var(--color-border);
  padding: 1rem;

  @media (min-width: 640px) {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.Blockquote :global(p) {
  line-height: inherit;
}
