.Code {
  font-family: ui-monospace, monospace;
  letter-spacing: -0.02em;
  font-size: 0.97em;

  &::before,
  &::after {
    font-weight: 900;
    color: oklch(0.65 0.01 265);
    content: "`";

    @dark {
      color: oklch(0.4 0.01 150);
    }
  }
}
