.Ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-indent: 0;

  & > li {
    margin-top: 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  &.contains-task-list {
    list-style-type: none;
    padding-left: 1rem;

    & > li > input[type="checkbox"] {
      transform: translateY(1px);
    }
  }

  ul &,
  ol & {
    margin-top: 0;
  }
}
