---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = (await getCollection('blog'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<BaseLayout title="Keaton Elvins">
  <div slot="header-content">
    <h1 class="text-xl md:text-2xl font-[Erode-Variable]" style="color: var(--color-muted)">keaton elvins</h1>
  </div>

  <main class="mb-12 max-w-prose">
    <p class="mb-4 text-xl md:text-3xl font-[Erode-Variable]">
      <em>It's only through the confining act of writing that the immensity of the nonwritten becomes legible.</em>
    </p>
    <span class="text-md md:text-xl font-[Erode-Variable]" style="color: var(--color-muted)">— Italo Calvino, <em>If on a Winter's Night a Traveler</em></span>
  </main>

  <ul class="space-y-4">
    {posts.map(post => (
      <li>
        <a
          href={`/${post.id}`}
          class="block group"
        >
          <h2 class="font-[Erode-Variable] text-3xl md:text-6xl font-semibold leading-tight md:leading-tight group-hover:underline text-right">
            {post.data.title}
          </h2>
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
