---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import coverImage1 from '../images/cover_1.png';
---
<BaseLayout title="home" description="keaton elvins's personal site and often the garden in question">
  <div slot="header-content">
    <h1 class="text-xl md:text-2xl font-[Erode-Variable]" style="color: var(--color-muted)">keaton elvins</h1>
  </div>

  <main class="mb-12 max-w-prose">
    <p class="mb-1 text-xl md:text-3xl font-[Erode-Variable]">
      <em>It's only through the confining act of writing that the immensity of the nonwritten becomes legible.</em>
    </p>
    <span class="text-md md:text-xl font-[Erode-Variable]" style="color: var(--color-muted)">— Italo Calvino, <em>If on a Winter's Night a Traveler</em></span>
  </main>

  <Image src={coverImage1} alt="Cover Image" class="w-full h-auto" loading="lazy"/>
</BaseLayout>
